html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;	
}

/*div {
	border: 1px solid Chocolate;
}*/

.top-navigation {
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	position: fixed;
	width: 100%;
	z-index: 9999;
	height: 70px;
}

.cases .content,
.top-navigation > .content {
	width: 970px;
	margin: 0 auto;
}

.top-navigation .links {
	float: right;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;	
	margin-top: 25px;
	padding-right: 60px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;	
	margin-left: 25px;
}

.top-navigation .links .active {
	color: #4C5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}

.logo {
	margin-left: 65px;
}

.introduction {
  background-image: url('../images/karma-background.jpg');
  /*background-position: center bottom;*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  overflow: auto;
}

.cases .content,
.introduction .content {
	width: 970px;
	margin: 0 auto;
}

.introduction h1,
.introduction h3 {
	color: white;
	text-align: center;	
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3em;
	font-weight: 300;	
}

.introduction h3 {
	margin-top: -0.7em;
	font-size: 1.5em;
	font-weight: 100;
}

.big-button {
	color: white;
	background-color: #f15a29;
	border-color: #f15a29;
	border-radius: 4px;
	width: 8em;
	height: 2.8em;
	text-shadow: none;
	border-style: none;
	padding: 16px 26px;
	line-height: 1.33;
	margin: 0 auto;
	display: block;
	font-size: 1.2em;
	font-weight: 100;
}

button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}

.cases {
	background-color: white;
  height: 525px;
  overflow: hidden;
}

.cases h2 {
	font-size: 2.75rem;
	margin-top: 3em;
	font-weight: 300;
	text-align: center;
}
/*
.cases .content li {
  display: inline-block;
  margin: 1em 4em 0 4em;
  text-align: center;
}*/

.cases .devices {
	width: 33%;
	display: inline-block;
	box-sizing: border-box;
	height: 12em;
	text-align: center;
}

.cases .devices h3 {
	font-size: 24px;
	font-weight: 400;
}

.cases .devices:nth-child(2) {
	padding-left: 5em;
}

.cases .devices:nth-child(4) {
	padding-right: 5em;
}

